@model Mission08_Team0303.Models.ToDoTask

<form method="post" asp-action="Create">
    <label>Task:</label>
    <input asp-for="Name" required />

    <label>Quadrant:</label>
    <select asp-for="Quadrant" asp-items="Html.GetEnumSelectList<Quadrant>()"></select>

    <label>Due Date:</label>
    <input asp-for="DueDate" type="date" />

    <label>Category:</label>
    <select asp-for="CategoryId" asp-items="ViewBag.Categories" required></select>

    <button type="submit">Save</button>
</form>